{% extends "index.html" %}
{% block sectioncontent %}

<h1>Angebot</h1>
<h2>Beritt Appassionata</h2>
<ul>
  <li class="img right">
    <img src="{% static 'images/freiarbeit.jpg'%}" />
    <p>Bodenarbeit / Freiarbeit - Kommunikation</p>
  </li>
  <li class="img left">
    <img src="{% static 'images/ohne-alles.jpg'%}" />
    <p>Reiten ohne alles</p>
  </li>
  <li>Feinste Zügelschule</li>
  <li>Lektionen der Reitkunst</li>
  <li>Bei Bedarf einreiten</li>
</ul>

<h2>Mobiler Reitunterricht</h2>

<p>Gerne unterrichte ich Sie und Ihr Pferd vor Ort.</p>
<ul>
  <li>Von der Bodenarbeit bis zur Reitkunst</li>
  <li>Harmonie statt Chaos</li>
  <li>Vertrauen statt Angst</li>
  <li>Eine Trainingseinheit dauert ca. 30 Minuten</li>
</ul>

<h2>Preise</h2>
<ul>
  <li>Neue Aufgabe für Ihr Pferd:
    <ul>
      <li>"Beritt Appassionata": monatlich pauschal 165€</li>
      <li>Unterbringung Vollpension: monatlich 330€</li>
    </ul>
  </li>
  <li>Mobiler Reitunterricht bei Ihnen vor Ort:
    <ul>
      <li>33€ zzgl. Fahrtkosten 0,30€/km</li>
    </ul>
  </li>
</ul>

<h2>Schöne Ergebnisse</h2>
<ul>
  <li>Der Tag des Pferdes ist ausgefüllt</li>
  <li>Die positiven Eindrücke des "Beritts Appassionata" nimmt es in die Ruhe- und Futterzeiten mit</li>
  <li>Muskelaufbau der Oberlinie</li>
  <li>Ihr Pferd wird wacher, freudiger, meistert anspruchsvolle Lektionen</li>
  <li>Ihr Pferd versteht die Aufgaben durch klare Körpersprache, es kommuniziert mit dem Menschen</li>
  <li>Motivation durch Lob an richtiger Stelle</li>
  <li>Beenden eines Trainings immer mit einem Erfolgserlebnis</li>
</ul>

<h2>Wenn Ein Aufenthalt Zu Ende Geht</h2>
<ul>
  <li>Sehr gerne unterrichte ich Sie, als Besitzer, in den neuen Lektionen Ihres Pferdes. So bleibt ein Erfolg dauerhaft.</li>
</ul>

{% endblock sectioncontent %}
